<%- include('./partials/header'); %>
<%- include('./partials/navbar'); %>
<hr>
<header>
    <h1>Adicione uma tarefa</h1>
</header>
<hr>
<form action="/adicionar-tarefa" method="POST" class="formulario_adicionar_tarefa">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo">

    <label for="descricao">Descrição:</label>
    <textarea name="descricao" id="descricao"></textarea>
    <hr>
    <footer>
        <input type="submit" value="Adicionar">
    </footer>
</form>
<%- include('./partials/footer'); %>
