<%- include('./partils/header') %>
<%- include('./partils/navbar') %>
<div class="container-fluid mt-3 mb-3">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-md-2 mb-3">
                    <a href="/admin/racks/new" class="text-decoration-none">
                        <div class="card">
                            <img src="https://i.imgur.com/R88sbE6.png"
                                class="card-img-top p-4 pb-0" alt="">
                            <div
                                class="card-body d-flex justify-content-center align-items-center">
                                <h6 class="card-title text-center mb-0"
                                    style="font-size: 14px;">Cadastrar espaço de
                                    armazenagem</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <a href="/admin/racks/index" class="text-decoration-none">
                        <div class="card">
                            <img src="https://i.imgur.com/6e38nIL.png"
                                class="card-img-top p-4 pb-0" alt="">
                            <div
                                class="card-body d-flex justify-content-center align-items-center">
                                <h6 class="card-title text-center mb-0"
                                    style="font-size: 14px;">Visualizar espaços
                                    de armazenagem cadastrados</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <a href="/admin/racks/select-racks-inversion"
                        class="text-decoration-none">
                        <div class="card">
                            <img src="https://i.imgur.com/qc0S53q.png"
                                class="card-img-top p-4 pb-0" alt="">
                            <div
                                class="card-body d-flex justify-content-center align-items-center">
                                <h6 class="card-title text-center mb-0"
                                    style="font-size: 14px;">Inverter mercadorias armazenadas
                                </h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <a href="/admin/users/new" class="text-decoration-none">
                        <div class="card">
                            <img src="https://i.imgur.com/edDNaoZ.png"
                                class="card-img-top p-4 pb-0" alt="">
                            <div
                                class="card-body d-flex justify-content-center align-items-center">
                                <h6 class="card-title text-center mb-0"
                                    style="font-size: 14px;">Cadastrar usuário
                                </h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <a href="/admin/users/index" class="text-decoration-none">
                        <div class="card">
                            <img src="https://i.imgur.com/hXY9vIF.png"
                                class="card-img-top p-4 pb-0" alt="">
                            <div
                                class="card-body d-flex justify-content-center align-items-center">
                                <h6 class="card-title text-center mb-0"
                                    style="font-size: 14px;">Visualizar usuários cadastrados
                                </h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <a href="/admin/prices/new" class="text-decoration-none">
                        <div class="card">
                            <img src="https://i.imgur.com/SrZEflx.png"
                                class="card-img-top p-4 pb-0" alt="">
                            <div
                                class="card-body d-flex justify-content-center align-items-center">
                                <h6 class="card-title text-center mb-0"
                                    style="font-size: 14px;">Cadastrar preço
                                </h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 mb-3 mb-md-1">
                    <a href="/admin/prices/index" class="text-decoration-none">
                        <div class="card">
                            <img src="https://i.imgur.com/q1Od8r3.png"
                                class="card-img-top p-4 pb-0" alt="">
                            <div
                                class="card-body d-flex justify-content-center align-items-center">
                                <h6 class="card-title text-center mb-0"
                                    style="font-size: 14px;">Visualizar preços cadastrados
                                </h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 mb-3 mb-md-1">
                    <a href="/admin/sales/new" class="text-decoration-none">
                        <div class="card">
                            <img src="https://i.imgur.com/P4BCxur.png"
                                class="card-img-top p-4 pb-0" alt="">
                            <div
                                class="card-body d-flex justify-content-center align-items-center">
                                <h6 class="card-title text-center mb-0"
                                    style="font-size: 14px;">Cadastrar venda
                                </h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 mb-1 mb-md-1 ">
                    <a href="/admin/sales/index" class="text-decoration-none">
                        <div class="card">
                            <img src="https://i.imgur.com/XGquA37.png"
                                class="card-img-top p-4 pb-0" alt="">
                            <div
                                class="card-body d-flex justify-content-center align-items-center">
                                <h6 class="card-title text-center mb-0"
                                    style="font-size: 14px;">Visualizar histórico de vendas realizadas
                                </h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 mb-1 mb-md-1 ">
                    <a href="/admin/guides/new/enter"
                        class="text-decoration-none">
                        <div class="card">
                            <img src="https://i.imgur.com/sHpFa7c.png"
                                class="card-img-top p-4 pb-0" alt="">
                            <div
                                class="card-body d-flex justify-content-center align-items-center">
                                <h6 class="card-title text-center mb-0"
                                    style="font-size: 14px;">Cadastrar entrada
                                    de mercadoria</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 mb-1 mb-md-1 ">
                    <a href="#"
                        class="text-decoration-none">
                        <div class="card">
                            <img src="https://i.imgur.com/GTeteTh.png"
                                class="card-img-top p-4 pb-0" alt="">
                            <div
                                class="card-body d-flex justify-content-center align-items-center">
                                <h6 class="card-title text-center mb-0"
                                    style="font-size: 14px;">Cadastrar saída
                                    de mercadoria</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-2 mb-1 mb-md-1 ">
                    <a href="/admin/guides/index"
                        class="text-decoration-none">
                        <div class="card">
                            <img src="https://i.imgur.com/BIWbrkj.png"
                                class="card-img-top p-4 pb-0" alt="">
                            <div
                                class="card-body d-flex justify-content-center align-items-center">
                                <h6 class="card-title text-center mb-0"
                                    style="font-size: 14px;">Visualizar histórico de movimentações realizadas</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ajustarAlturas() {
        const divs = document.querySelectorAll('.col-6');
        const cards = document.querySelectorAll('a .card');
        let maxHeight = 0;

        // Encontrar a maior altura entre as divs
        divs.forEach(div => {
            div.style.height = 'auto'; // Restaura a altura padrão
            const height = div.getBoundingClientRect().height;
            if (height > maxHeight) {
                maxHeight = height;
            }
        });

        // Definir a mesma altura para todas as divs
        divs.forEach(div => {
            div.style.height = `${maxHeight}px`;
        });

        // Definir a mesma altura para todos os elementos dentro de ".card"
        cards.forEach(card => {
            card.style.height = `${maxHeight}px`;
        });
    }

    // Chamar a função quando a página carregar
    window.addEventListener('load', ajustarAlturas);

    // Chamar a função quando a largura da página for alterada
    window.onresize = function(event) {
        location.reload(true);
    };
</script>
<%- include('./partils/footer') %>