<%- include('partils/header') %>
<%- include('partils/navbar') %>
<div class="container">
    <div class="card">
        <div class="card-header">
            Adicionar nova tarefa
        </div>
        <div class="card-body">
            <form action="/inserirtarefa" method="POST">

                <label for="inputTituloInsercaoTarefa" class="form-label">Título da tarefa:</label>
                <input type="text" class="form-control" id="inputTituloInsercaoTarefa" name="titulo">

                <label for="textAreaInsercaoTarefa" class="form-label">Descrição da tarefa:</label>
                <textarea class="form-control" id="textAreaInsercaoTarefa" rows="3" name="descricao"></textarea>
        </div>
        <div class="card-footer text-muted">
                <button type="submit" class="btn btn-success">Adicionar tarefa</button>
            </form>
        </div>
    </div>
</div>
<%- include('partils/footer') %>