<%- include('partils/header') %>
<%- include('partils/navbar') %>

<!-- Container principal -->
<div class="container">
    <!-- Cartão para adicionar nova tarefa -->
    <div class="card">
        <!-- Cabeçalho do cartão -->
        <div class="card-header">
            Adicionar nova tarefa
        </div>

        <!-- Corpo do cartão -->
        <div class="card-body">
            <!-- Formulário para inserir tarefa -->
            <form action="/inserirtarefa" method="POST">

                <!-- Campo para o título da tarefa -->
                <div class="mb-3">
                    <label for="inputTituloInsercaoTarefa" class="form-label">Título da tarefa:</label>
                    <input type="text" class="form-control" id="inputTituloInsercaoTarefa" name="titulo">
                </div>

                <!-- Campo para a descrição da tarefa -->
                <div class="mb-3" id="divFinal">
                    <label for="textAreaInsercaoTarefa" class="form-label">Descrição da tarefa:</label>
                    <textarea class="form-control" id="textAreaInsercaoTarefa" rows="3" name="descricao"></textarea>
                </div>
        </div>

        <!-- Rodapé do cartão (se necessário) -->
        <div class="card-footer">
                <!-- Botão para adicionar a tarefa -->
                <button type="submit" class="btn btn-success btn-sm">Adicionar tarefa</button>
            </form>
        </div>
    </div>
</div>

<%- include('partils/footer') %>