body {
    font-size: 14px;
    /* img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    } */
}

#bgLogin {
    background-image: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

a .card img {
    transition: all 0.2s ease-in-out
}

@media only screen and (min-width: 768px) {
    a .card img {
        transform: scale(0.9, 0.9);
    }
  }

a .card img:hover {
    transform: scale(1, 1)
}

@media print {
    @page {
        /* size: landscape; */
        size: A3;
        margin: 0;
    }
    .ignore-print {
        display: none;
    }
    /* .logo, .navbar {
        filter: invert(100%);
    } */
}