.navbar {
    margin-bottom: 15px;
}

.mb-4 {
    margin-bottom: 15px !important;
}

.cardTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleTask,
.descriptionTask {
    margin-bottom: 0px;
}

.cardTask button {
    border: none;
    background-color: transparent;
}
