<%- include('../../partils/header') %>
<%- include('../../partils/navbar') %>
<div class="container-fluid mt-3">
    <div class="card">
        <div class="card-header">
            <h2 class="my-1 fs-6">Cadastrar contrato de preço</h2>
        </div>
        <div class="card-body">
            <form action="/admin/prices/save" method="POST">
                <div class="row">
                    <div class="col-12 col-md-4 mb-3 mb-md-1">
                        <label for="" class="form-label">Cliente:</label>
                        <input type="text" class="form-control form-control-sm"
                            id="" name="cliente" placeholder="">
                    </div>
                    <div class="col-12 col-md-4 mb-3 mb-md-1">
                        <label for="" class="form-label">Descrição:</label>
                        <input type="text" class="form-control form-control-sm"
                            id="" name="descricao" placeholder="">
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <label for="numeroRack"
                            class="form-label">Valor:</label>
                        <input type="number"
                            class="form-control form-control-sm" id=""
                            name="valor" placeholder="" min="1" step=".01">
                    </div>
                    <div class="col-12 mb-2 mb-md-1">
                        <label for="" class="form-label">Observação:</label>
                        <textarea class="form-control form-control-sm" id=""
                            rows="3" name="observacao"></textarea>
                    </div>
                </div>
        </div>
        <div class="card-footer text-muted">
            <input type="hidden" name="" id="respostaSistema"
                value="<%= mensagem.texto %>">
            <button type="submit"
                class="btn btn-success btn-sm">Confirmar</button>
            </form>
        </div>
    </div>
</div>
<script>
    const respostaSistema = document.querySelector("#respostaSistema");
    if (respostaSistema.value) {
        mensagemErro(respostaSistema.value);
    }
</script>
<%- include('../../partils/footer') %>