<%- include('../../partils/header') %>
<%- include('../../partils/navbar') %>
<div class="container-fluid mt-3">
    <div class="card">
        <div class="card-header">
            <h2 class="my-1 fs-6">Cadastrar nova rack</h2>
        </div>
        <div class="card-body">
            <form action="/admin/racks/save" method="POST"
                onsubmit="verificarLocalizacaoDisponivel(event, this)">
                <div class="row">
                    <div class="col-12 col-md-4 mb-3 mb-md-0">
                        <label for="" class="form-label">Nome do Prédio:</label>
                        <input type="text" class="form-control" id="predioRack"
                            name="predio" placeholder="Insira o nome do prédio">
                    </div>
                    <div class="col-12 col-md-4 mb-3 mb-md-0">
                        <label for="numeroRack" class="form-label">Número da
                            Rack:</label>
                        <input type="number" class="form-control"
                            id="numeroRack" name="numero"
                            placeholder="Digite o número da rack" min="1">
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                        <label for="andarRack" class="form-label">Andar da
                            Instalação:</label>
                        <input type="number" class="form-control" id="andarRack"
                            name="andar"
                            placeholder="Indique o andar da instalação" min="1">
                    </div>
                </div>
        </div>
        <div class="card-footer text-muted">
            <input type="hidden" id="localizacoesRacksCadastradas"
                value="<%= prediosNumerosConcatenados %>">
            <button type="submit"
                class="btn btn-success btn-sm">Confirmar</button>
            </form>
        </div>
    </div>
</div>
<script>
    const predioRack = document.querySelector("#predioRack");
    const numeroRack = document.querySelector("#numeroRack");
    const andarRack = document.querySelector("#andarRack");
    function verificarLocalizacaoDisponivel(event, form) {
        event.preventDefault(); // Impede o comportamento padrão do formulário
        if (!predioRack.value || !numeroRack.value || !andarRack.value) {
            mensagemErro(
                "Não foi possível concluir o cadastro. Por favor, preencha todos os campos."
                );
        } else {
            let localizacoesRacksDigitados =
                `${((predioRack.value).trim()).toUpperCase()}${numeroRack.value}`;
            let localizacoesRacksCadastradas = (document.querySelector(
                "#localizacoesRacksCadastradas").value).split(",");
            let rackJaCadastrada = false;
            for (let i = 0; i < localizacoesRacksCadastradas.length; i++) {
                if (localizacoesRacksDigitados === localizacoesRacksCadastradas[
                        i]) {
                    rackJaCadastrada = true;
                    mensagemErro(
                        "Não foi possível concluir o cadastro, pois a localização escolhida já está em uso. Por favor, selecione uma localização diferente."
                        );
                    break; // Termina o loop, pois a rack já está cadastrada
                }
            }
            if (!rackJaCadastrada) {
                form
            .submit(); // Envia o formulário se a rack não estiver cadastrada
            }
        }
    }
    function mensagemErro(texto) {
        Toastify({
            text: texto,
            duration: 5000,
            close: false,
            gravity: "bottom",
            position: "right",
            stopOnFocus: true,
            style: {
                background: "#f8d7da",
                color: "#721c24",
                boxShadow: "none",
            }
        }).showToast();
    }
</script>
<%- include('../../partils/footer') %>